/* layout */
#header {
  background: #aaf;
  height: 40px;
  margin: 0;
  padding: 0;
}
#footer {
  background: #aaf;
  height: 40px;
  clear: both;
  margin: 0;
  padding: 0.5em 0;
}
#treeView {
  float: left;
  width: 15%;
  background: #fdd;
  border:5px #808080 solid;
}

#mainLayout {
  float: left;
  width: 83%;
  border:5px #808080 solid;
}
