body { font-family:Verdana; font-size:14px; margin:0;}
#container {margin:0 auto;}
#header { height:40px; background:#6cf; margin-bottom:5px;}
#mainContent { height:600px; margin-bottom:5px;}
#sidebar { float:left; width:16%; height:inherit; background:#9ff;}
#content { float:right; width:84%; height:inherit; background:#cff;}
#footer { height:40px; background:#6cf;}
