#HistoryViewFrame
{
    float :left; 
    height:100%;
    width :30%;
}
#BranchMenuFrame
{
    float :left;
    height:100%;
    width :13%;
}
#DiffViewFrame
{
    float :right;
    height:100%;
    width :55%;
    border:2px solid gray;
}

#HistoryViewSVG
{
    height:100%;
    width :100%;
    border:2px solid gray;
}
