body 
{ 
    font-family:Verdana; 
    font-size:14px; margin:0;
}
#Container
{
    width:96%;
    margin: 0 auto -30px;
}
#Header
{ 
    height:50px; 
}
#ContentFrame
{ 
    height:500px; 
    margin-bottom:5px;
}
#Footer {
    height: 50px;
}


#SourceViewFrame
{
    float :top ; 
    height:70%; 
    width :100%;
}
#OutputInfo
{
    float :top; 
    height:5%; 
    width :100%;    
}
#OutPutFrame
{
    float :top; 
    height:25%; 
    width :100%;
}

#SourcePath 
{
    float :left; 
    height:6%; 
    width :100%;
}
#SourceView
{
    float :left; 
    height:94%; 
    width :100%;    
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
